*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: aquamarine;
}
#panel{
    width: 80%;
    overflow: hidden;
    height: 80%;
    border-radius: 8px;
    background-color: white;
}
#ptop{
    display: flex;
    color: white;
    padding: 0px 30%;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: rgb(15, 245, 168);
}
.elem{
    align-items: center;
    gap: 20px;
    display: flex;
    
}
.elem h2{
    font-weight: 500;
    font-size: 22px;
}
.box{
    color: black;
    font-weight: 600;
    font-size: 22px;
    padding: 10px 20px;
    background-color: white;
    border-radius: 5px;
    
}
#pbtm{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
    width: 100%;
    height: calc(100% - 100px);
    
}
.bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: rgb(19, 144, 98);
    color: white;
    border-radius: 50%;
    font-weight: 500;
}
.bubble:hover{
    cursor: pointer;
    background-color: rgb(43, 169, 43);
}